.player{
    color:blue
}
progress{
    width: 200px;
    height: 25px;
    border-color: black;
    background-color: brown;
    border-radius: 10px;
}

progress::-moz-progress-bar{
    background-color: blue;
}
progress::-webkit-progress-value {
    background-color: blue;
 }